In [7]:
from faker import Faker
import random
import sqlite3

fake = Faker()

# Create a database connection
conn = sqlite3.connect('ecommerce.db')
cursor = conn.cursor()

# Create Customers table
cursor.execute('''CREATE TABLE Customers (
                    customer_id INTEGER PRIMARY KEY,
                    name TEXT,
                    shipping_addr TEXT,
                    contact_number TEXT,
                    current_flag INTEGER DEFAULT 1
                )''')

# Create Orders table
cursor.execute('''CREATE TABLE Orders (
                    order_id INTEGER PRIMARY KEY,
                    customer_id INTEGER,
                    order_date TEXT,
                    total_amount REAL NOT NULL,
                    FOREIGN KEY (customer_id) REFERENCES Customers(customer_id)
                )''')

# Create Order Items table
cursor.execute('''CREATE TABLE OrderItems (
                    item_id INTEGER PRIMARY KEY,
                    order_id INTEGER,
                    product_id INTEGER,
                    quantity INTEGER,
                    price REAL,
                    FOREIGN KEY (order_id) REFERENCES Orders(order_id),
                    FOREIGN KEY (product_id) REFERENCES Products(product_id)
                )''')

# Create Products table
cursor.execute('''CREATE TABLE Products (
                    product_id INTEGER PRIMARY KEY,
                    name TEXT,
                    description TEXT
                )''')

# Generate customers
for _ in range(10):
    name = fake.name()
    shipping_addr = fake.address().replace("\n", ", ")
    contact_number = fake.phone_number()
    cursor.execute('''INSERT INTO Customers (name, shipping_addr, contact_number)
                      VALUES (?, ?, ?)''', (name, shipping_addr, contact_number))
    conn.commit()

# Generate products
for _ in range(10):
    name = fake.word()
    description = fake.sentence(nb_words=6)
    cursor.execute('''INSERT INTO Products (name, description)
                      VALUES (?, ?)''', (name, description))
    conn.commit()

# Generate orders and order items
for _ in range(100):
    customer_id = random.randint(1, 10)
    order_date = fake.date_between(start_date='-2y', end_date='today')
    total_amount = round(random.uniform(10, 1000), 2)
    cursor.execute('''INSERT INTO Orders (customer_id, order_date, total_amount)
                      VALUES (?, ?, ?)''', (customer_id, order_date, total_amount))
    order_id = cursor.lastrowid

    # Generate order items
    num_items = random.randint(1, 5)
    for _ in range(num_items):
        product_id = random.randint(1, 10)
        quantity = random.randint(1, 10)
        price = round(random.uniform(10, 100), 2)
        cursor.execute('''INSERT INTO OrderItems (order_id, product_id, quantity, price)
                          VALUES (?, ?, ?, ?)''', (order_id, product_id, quantity, price))

    conn.commit()

# Close the database connection
conn.close()

In [8]:
import sqlite3

# Create a database connection
conn = sqlite3.connect('ecommerce.db')
cursor = conn.cursor()

# Example 1: Retrieve all customers
cursor.execute("SELECT * FROM Customers")
customers = cursor.fetchall()
for customer in customers:
    print(customer)

# Close the database connection
conn.close()

(1, 'Donald Myers', '464 Brown Fork, Richardstad, WY 31723', '(552)425-8953x2023', 1)
(2, 'Margaret Crosby', '760 Taylor Shoal Apt. 058, West Shirleybury, MD 92746', '646-218-6150', 1)
(3, 'Holly Torres', '16705 Charles Mall, Lake William, TN 32156', '(565)714-5623x68100', 1)
(4, 'Mitchell Choi', '1825 Perez Flat Suite 891, Flemingburgh, MS 42048', '322.970.1259x89724', 1)
(5, 'Daniel Robinson', '46022 Dawn Extensions, Mooreberg, IA 07421', '678.761.4991x824', 1)
(6, 'Nicholas Good', '7827 Carl Dale Suite 246, Stokesfort, KS 60484', '352.303.0434', 1)
(7, 'Amy Wheeler', '54968 Donna Roads, Lake Brendaville, WI 52462', '821.710.8244', 1)
(8, 'Anthony Christensen', '62631 Jessica Radial Suite 404, Henryville, SC 14052', '(920)859-5306x108', 1)
(9, 'Laura Ray', '43477 Townsend Burgs, Nguyenland, VA 85411', '962.203.9921x94280', 1)
(10, 'Mariah Harper', '994 Swanson Square, Port Jennifer, CA 74817', '(392)497-1502', 1)