In [7]:
from faker import Faker
import random
import sqlite3

fake = Faker()

# Create a database connection
conn = sqlite3.connect('ecommerce.db')
cursor = conn.cursor()

# Create Customers table
cursor.execute('''CREATE TABLE Customers (
                    customer_id INTEGER PRIMARY KEY,
                    name TEXT,
                    shipping_addr TEXT,
                    contact_number TEXT,
                    current_flag INTEGER DEFAULT 1
                )''')

# Create Orders table
cursor.execute('''CREATE TABLE Orders (
                    order_id INTEGER PRIMARY KEY,
                    customer_id INTEGER,
                    order_date TEXT,
                    total_amount REAL NOT NULL,
                    FOREIGN KEY (customer_id) REFERENCES Customers(customer_id)
                )''')

# Create Order Items table
cursor.execute('''CREATE TABLE OrderItems (
                    item_id INTEGER PRIMARY KEY,
                    order_id INTEGER,
                    product_id INTEGER,
                    quantity INTEGER,
                    price REAL,
                    FOREIGN KEY (order_id) REFERENCES Orders(order_id),
                    FOREIGN KEY (product_id) REFERENCES Products(product_id)
                )''')

# Create Products table
cursor.execute('''CREATE TABLE Products (
                    product_id INTEGER PRIMARY KEY,
                    name TEXT,
                    description TEXT
                )''')

# Generate customers
for _ in range(10):
    name = fake.name()
    shipping_addr = fake.address().replace("\n", ", ")
    contact_number = fake.phone_number()
    cursor.execute('''INSERT INTO Customers (name, shipping_addr, contact_number)
                      VALUES (?, ?, ?)''', (name, shipping_addr, contact_number))
    conn.commit()

# Generate products
for _ in range(10):
    name = fake.word()
    description = fake.sentence(nb_words=6)
    cursor.execute('''INSERT INTO Products (name, description)
                      VALUES (?, ?)''', (name, description))
    conn.commit()

# Generate orders and order items
for _ in range(100):
    customer_id = random.randint(1, 10)
    order_date = fake.date_between(start_date='-2y', end_date='today')
    total_amount = round(random.uniform(10, 1000), 2)
    cursor.execute('''INSERT INTO Orders (customer_id, order_date, total_amount)
                      VALUES (?, ?, ?)''', (customer_id, order_date, total_amount))
    order_id = cursor.lastrowid

    # Generate order items
    num_items = random.randint(1, 5)
    for _ in range(num_items):
        product_id = random.randint(1, 10)
        quantity = random.randint(1, 10)
        price = round(random.uniform(10, 100), 2)
        cursor.execute('''INSERT INTO OrderItems (order_id, product_id, quantity, price)
                          VALUES (?, ?, ?, ?)''', (order_id, product_id, quantity, price))

    conn.commit()

# Close the database connection
conn.close()

In [9]:
import sqlite3

# Create a database connection
conn = sqlite3.connect('ecommerce.db')
cursor = conn.cursor()

# Example 1: Retrieve all customers
cursor.execute("SELECT * FROM Orders")
orders = cursor.fetchall()
for order in orders:
    print(order)

# Close the database connection
conn.close()

(1, 2, '2023-04-09', 194.83)
(2, 5, '2023-03-23', 550.79)
(3, 8, '2021-12-27', 399.26)
(4, 4, '2023-05-16', 930.08)
(5, 5, '2022-07-08', 37.17)
(6, 5, '2023-02-19', 425.48)
(7, 8, '2022-07-22', 952.17)
(8, 6, '2022-07-02', 281.26)
(9, 8, '2023-03-09', 295.29)
(10, 7, '2023-02-21', 591.34)
(11, 2, '2023-03-28', 726.51)
(12, 3, '2022-11-19', 629.76)
(13, 2, '2023-04-06', 832.28)
(14, 9, '2022-04-24', 624.67)
(15, 8, '2021-07-29', 184.27)
(16, 3, '2021-09-08', 381.6)
(17, 8, '2023-03-29', 231.2)
(18, 7, '2022-02-18', 38.3)
(19, 10, '2023-03-28', 999.04)
(20, 10, '2023-04-22', 214.23)
(21, 5, '2021-08-12', 274.5)
(22, 7, '2023-03-19', 990.51)
(23, 5, '2023-02-25', 578.27)
(24, 7, '2022-01-31', 926.87)
(25, 5, '2022-12-19', 808.46)
(26, 8, '2022-01-23', 136.28)
(27, 6, '2022-06-13', 112.07)
(28, 10, '2023-03-22', 536.75)
(29, 3, '2022-09-04', 43.09)
(30, 3, '2023-03-25', 156.64)
(31, 1, '2022-02-03', 184.33)
(32, 3, '2022-01-31', 377.96)
(33, 7, '2022-04-28', 802.15)
(34, 9, '2022-08-18', 710.58)
(35, 3, '2022-07-01', 715.19)
(36, 4, '2023-05-26', 98.84)
(37, 9, '2023-06-19', 684.12)
(38, 7, '2022-07-08', 383.73)
(39, 7, '2023-05-23', 451.32)
(40, 3, '2021-10-24', 48.12)
(41, 1, '2021-08-28', 993.15)
(42, 9, '2023-01-30', 716.42)
(43, 10, '2022-07-25', 780.47)
(44, 1, '2021-07-25', 579.63)
(45, 4, '2021-11-20', 471.36)
(46, 4, '2021-08-16', 744.79)
(47, 9, '2021-07-25', 21.44)
(48, 6, '2022-10-18', 647.75)
(49, 4, '2022-08-09', 586.1)
(50, 6, '2021-07-26', 432.59)
(51, 10, '2022-04-29', 503.9)
(52, 6, '2022-06-02', 656.58)
(53, 10, '2022-08-07', 379.44)
(54, 10, '2022-03-18', 173.76)
(55, 5, '2022-12-30', 906.77)
(56, 10, '2023-04-23', 356.92)
(57, 9, '2023-01-15', 787.92)
(58, 10, '2022-08-11', 769.54)
(59, 10, '2022-10-03', 90.63)
(60, 4, '2021-08-25', 702.16)
(61, 10, '2022-10-03', 707.54)
(62, 4, '2021-12-16', 961.21)
(63, 8, '2023-06-03', 101.95)
(64, 2, '2023-06-20', 494.43)
(65, 1, '2021-12-11', 426.94)
(66, 2, '2022-12-07', 512.31)
(67, 1, '2021-11-10', 356.93)
(68, 1, '2023-05-31', 604.46)
(69, 6, '2023-02-07', 95.3)
(70, 9, '2022-05-23', 643.2)
(71, 7, '2023-06-29', 709.32)
(72, 6, '2021-09-05', 550.34)
(73, 2, '2023-02-24', 638.76)
(74, 5, '2023-01-20', 731.26)
(75, 2, '2022-09-24', 68.23)
(76, 4, '2022-10-04', 210.0)
(77, 2, '2021-07-23', 948.69)
(78, 4, '2023-05-29', 971.94)
(79, 10, '2022-06-27', 215.17)
(80, 2, '2023-02-15', 137.5)
(81, 10, '2022-01-19', 60.09)
(82, 7, '2022-12-09', 378.52)
(83, 3, '2023-03-15', 206.16)
(84, 7, '2023-07-01', 270.95)
(85, 5, '2022-02-16', 438.11)
(86, 4, '2022-07-05', 234.04)
(87, 7, '2022-08-18', 585.76)
(88, 5, '2023-05-04', 318.68)
(89, 6, '2023-02-07', 394.07)
(90, 9, '2022-03-13', 735.51)
(91, 9, '2021-11-02', 544.89)
(92, 1, '2022-12-30', 676.4)
(93, 9, '2021-08-14', 87.6)
(94, 8, '2022-03-19', 532.76)
(95, 7, '2021-10-19', 48.8)
(96, 10, '2022-12-17', 492.37)
(97, 2, '2021-12-14', 75.13)
(98, 3, '2022-09-21', 385.39)
(99, 1, '2023-06-13', 771.17)
(100, 7, '2021-10-28', 373.47)